**SCRAPE ALL IN LONDON FOR DELICATESSEN POSTCODES**

In [36]:
import pandas as pd
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup
import requests
from tqdm import tqdm
import time


names = []
addresses = []

for x in tqdm(range(1, 64)):
    url = 'https://www.allinlondon.co.uk/directory/delicatessens?page={}'.format(x)
    r = requests.get(url)
    soup = BeautifulSoup(r.text, 'html.parser')
    time.sleep(np.abs(np.random.normal(loc = 3, scale = 0.5)))
    
    for deli in soup.find_all('div', attrs={'class':'bg-brand-section p-3 mb-3'}):
        try:
            names.append(deli.find('a', attrs={'class':'h5'}).text.strip())
        except:
            names.append(np.nan)

        try:
            addresses.append(deli.find('div', attrs={'class':'text-muted mb-1'}).text.strip())
        except:
            addresses.append(np.nan)

100%|██████████| 63/63 [03:39<00:00,  3.48s/it]

In [39]:
delicatessens = pd.DataFrame({'name': names,
                     'address': addresses})

delicatessens = delicatessens.dropna()

In [52]:
# use a regular expression to extract the postcode from the address column

import re
pattern_1 = r'([A-Z][A-Z0-9]{0,1}[A-Z0-9]{0,2} {0,}[0-9][A-Z]{0,2})'

delicatessens['postcode'] = delicatessens['address'].str.extract(pattern_1)
delicatessens.head()

<ipython-input-52-27ab6554e688>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  delicatessens['postcode'] = delicatessens['address'].str.extract(pattern_1)

                  name                     address  postcode
2            2 Friends  374 Caledonian Road N1 1DY    N1 1DY
3  327 Caledonian Road  327 Caledonian Road N1 1DW    N1 1DW
4               4 Cose       7 Vyner Street E2 9DG    E2 9DG
5           4 Kujawiak  1 South Ealing Road W5 4QA    W5 4QA
6              8 Rocks      238 High Road IG10 1RB  IG10 1RB

In [ ]:
delicatessens = delicatessens.drop(columns = ['address'])

In [60]:
delicatessens = delicatessens.reset_index(drop = True)
delicatessens

                     name  postcode
0               2 Friends    N1 1DY
1     327 Caledonian Road    N1 1DW
2                  4 Cose    E2 9DG
3              4 Kujawiak    W5 4QA
4                 8 Rocks  IG10 1RB
...                   ...       ...
1239             Zagorska   DA1 1DJ
1240                Zarco   SW8 1AA
1241   Zelas Wines & Deli    N6 5AX
1242    Zloty Polish Shop   N22 6EB
1243              Zoran's   TW1 3EE

[1244 rows x 2 columns]

In [61]:
delicatessens.to_csv(r'/Users/davidrhode/Desktop/GA/DSI15-lessons/project/project-capstone/Delicatessens/delicatessens.csv', index=False)