**CREATE A MEASURE OF CENTRALITY**

- Trafalgar Square / Charing Cross is generally seen as most central point in London.

- Create a dataframe containing the coordinates of Trafalgar Square on every row. This can later can be merged with the transaction data to create a measure of centrality for each property.

In [1]:
import pandas as pd
import geopandas as gpd

In [2]:
# create dataframe containing geo coordinates of Trafalgar Square (to be trimmed later to match length of transaction dataset)

trafalgar_square = pd.DataFrame({'latitude': 51.5073509, 'longitude': -0.1277583}, index = range(350000))
trafalgar_square.head()

    latitude  longitude
0  51.507351  -0.127758
1  51.507351  -0.127758
2  51.507351  -0.127758
3  51.507351  -0.127758
4  51.507351  -0.127758

In [3]:
# convert to geo-dataframe, drop columns that are no longer needed, set CRS to Cartesian map coordinates

trafalgar_square_gdf = gpd.GeoDataFrame(trafalgar_square, geometry = gpd.points_from_xy(trafalgar_square['longitude'], trafalgar_square['latitude']))
trafalgar_square_gdf = trafalgar_square_gdf.drop(columns = ['latitude', 'longitude'])
trafalgar_square_gdf = trafalgar_square_gdf.set_crs(epsg=4326)
trafalgar_square_gdf = trafalgar_square_gdf.to_crs(epsg = 27700)
trafalgar_square_gdf.crs

<Projected CRS: EPSG:27700>
Name: OSGB 1936 / British National Grid
Axis Info [cartesian]:
- E[east]: Easting (metre)
- N[north]: Northing (metre)
Area of Use:
- name: United Kingdom (UK) - offshore to boundary of UKCS within 49째45'N to 61째N and 9째W to 2째E; onshore Great Britain (England, Wales and Scotland). Isle of Man onshore.
- bounds: (-9.0, 49.75, 2.01, 61.01)
Coordinate Operation:
- name: British National Grid
- method: Transverse Mercator
Datum: OSGB 1936
- Ellipsoid: Airy 1830
- Prime Meridian: Greenwich

In [4]:
trafalgar_square_gdf.to_file('../big_files/trafalgar_square_gdf.shp')